---
const { photourl, name, charname} = Astro.props
---
<character-card data-photourl={photourl} data-name={name} data-charname={charname}>
  <div class="flex flex-col justify-center items-center h-full">
    <h3 class="font-title text-2xl">{charname}</h3>
    <div class="flex flex-grow justify-center items-center">
      <img src={photourl ?? '/img/placeholder.png'} alt={name} class="aspect-[266/362] object-cover w-[266px] h-[362px]" />
    </div>
    <h3 class="opacity-60">{name}</h3>
  </div>
</character-card>

<script>
  class CharacterCard extends HTMLElement {
    constructor() {
      super()
    }

    /**
     * This render function is to create the component on the fly when a new instance is created
     */
    render() {
      const { photourl, name, charname } = this.dataset
      const div = document.createElement('div')
      div.classList.add('flex', 'flex-col', 'justify-center', 'items-center', 'h-full')
      div.innerHTML = `
        <h3 class="font-title text-2xl">${charname}</h3>
        <div class="flex flex-grow justify-center items-center">
          <img src="${photourl}"" alt={name} class="aspect-[266/362] object-cover w-[266px] h-[362px]" />
        </div>
        <h3 class="opacity-60">${name}</h3>`
      this.appendChild(div)
    }
  }

  customElements.define('character-card', CharacterCard)
</script>